<p>rtf works!</p>

<form [formGroup]="userForm">

    <label class="form-label" >Enter your Name : </label>
    <input type="text" name="fname" formControlName="fname" class="form-control">
    <div class="alert alert-danger" *ngIf="userForm.get('fname').touched && userForm.get('fname').invalid">
    <div *ngIf="userForm.get('fname').errors.required">this field is required</div>
    <div *ngIf="userForm.get('fname').errors.pattern">fname must contain only characters minimum 3 maximum 20</div>
    </div>

    <label class="form-label" >Enter your Password : </label>
    <input type="text" name="password" formControlName="password" class="form-control">
    <div class="alert alert-danger" *ngIf="userForm.get('password').touched && userForm.get('password').invalid">
        <div *ngIf="userForm.get('password').errors.required">this field is required</div>
        <div *ngIf="userForm.get('password').errors.pattern">password must contains  small charcter,capital letters,numbers,one special symbol</div>
    </div>

    <label class="form-label" >Enter your mail : </label>
    <input type="text" name="email" formControlName="email" class="form-control">
    <div class="alert alert-danger" *ngIf="userForm.get('email').touched && userForm.get('email').invalid">
        <div *ngIf="userForm.get('email').errors.required">this field is required</div>
        <div *ngIf="userForm.get('email').errors.pattern">email must contains  small charcter,capital letters,numbers,one special symbol</div>
    </div>

    <div class="form-group">
        <label for="form-check-label">
            <input type="checkbox" name="term" formControlName="term" class="form-check-input">
            Accept Term and Condition
        </label>

        <div class="alert alert-danger" *ngIf="userForm.get('term').touched && userForm.get('term').invalid">
            <div *ngIf="userForm.get"> please fill this field</div>
        </div>
    </div>



    <button type="submit" class="btn btn-primary mt-2" [disabled]="userForm.invalid">Submit</button>
</form>
