<p>nav works!</p>

<nav>
    <button type="button" routerLink="databinding" class="btn btn-primary btn-sm">Databinding</button>
    <button type="button" routerLink="directive" class="btn btn-primary btn-sm">Directive</button>
    <button type="button" routerLink="angform" class="btn btn-primary btn-sm">Angform</button>
    <button type="button" routerLink="breakFast" class="btn btn-primary btn-sm">breakFast</button>
    <button type="button" routerLink="crud" class="btn btn-primary btn-sm">crud</button>
    <button type="button" routerLink="signout" class="btn btn-primary btn-outline-danger">Logout</button>
    

</nav>
