<p>editproduct works!</p>


<div class="row">

    <div class="col-sm-3"></div>
    <div class="col-sm-6">


        <form [formGroup]="productData" (ngSubmit)="addData()">
        
            <div>
                <label for="pname" class="form-label">Enter Product Name:</label>
                <input type="text" name="pname" id="pname" formControlName="pname" class="form-control">
            </div>

            <div>
                <label for="price" class="form-label">Enter Product Name:</label>
                <input type="text" name="price" id="price" formControlName="price" class="form-control">
            </div>


            <div>
            
                <label for="company" class="form-label">Enter Product Company:</label>
                <input type="text" name="company" id="company" formControlName="company" class="form-control">
            </div>

            <button type="submit" [disabled]="productData.invalid" class="btn btn-primary mt-2">Submit</button>

    
        </form>
        
    </div>

</div>
